<div id="admin-menu">

  <ul>
    <li><%= link_to "Left all page Entries", controller: "entries" %></li>
    <li><%= link_to "Right homepage Entries", controller: "homepageentries" %></li>
    <li><%= link_to "Users", controller: "users" %></li>

  </ul>

</div>

<br />