<h2 class="title" xmlns="http://www.w3.org/1999/html">about us</h2>

<div class="detail">
  <h3>History</h3>

  <p>In 1969 the local community felt the need to have a masjid and madrasa to fulfil their religious duties and obligations. Therefore, Leytonstone Islamic Association was formed to serve the community. At first, a hall was hired for Salaat, which was available for Jummah and madrasa. The hall was used for madrasa on weekends only.</p>

  <p>From 1969-1976, the Association continued receiving contributions from the local Muslim community with a view to buy a property to establish a masjid and madrassa in the area. By the grace of Alllah a church hall was purchased with donations entirely contributed by the local Muslim community. The church hall was subsequently converted to a masjid. The masjid was further renovated in the following years with the addition of a minaret, a new entrance, altering the main hall area and reconstruction of the face of the masjid. These transformations lead to the current structure which is present in the heart of the muslim community of Leytonstone today.</p>

</div>

