<h2 class="title" xmlns="http://www.w3.org/1999/html">contact us</h2>

<div class="detail">
  <h3>ADDRESS</h3>

  <p>Leytonstone Masjid<br />
    Dacre Road<br />
    Leytonstone<br />
    London<br />
    E11 3AG</p>

</div>

<div class="detail">
  <h3>EMAIL</h3>
  <p>leytonstonemasjid@gmail.com</p>
</div>

<div class="detail">
  <h3>PHONE</h3>
  <p>02085397251</p>
</div>
