<h2 class="title" xmlns="http://www.w3.org/1999/html">donate</h2>

<div class="detail">
  <h3>How to donate:</h3>

  <p>If you wish to send payment by post please make your Cheque/Postal Order payable to Leytonstone Islamic Association and send your payment to:</p>

  <p>Leytonstone Masjid<br />
    Dacre Road<br />
    Leytonstone<br />
    London<br />
    E11 3AG</p>

</div>

