<h2 class="title" xmlns="http://www.w3.org/1999/html">madrasah</h2>

<p>To provide Islamic Education to our children/siblings is an obligation upon each parent.

  </p><p><em>The Prophet (SAW) said: “The best among you is the one ho learns the Qur’an and teaches it to others” (Bukhari).</em></p><p>

  Therfore to cater for this need Leytonstone Masjid provide Islamic education for boys and girls of the ages 5 to 16.

  They are taught by qualified Alims and Alimahs with regular examinations.

  The classes take place Monday- Friday, <em>5pm -7pm</em>. A wide range of subjects are taught, such as:</p>

<ul>
  <li>Hifz (Memorization of the Quran)</li>
  <li>Arabic (Quran)</li>
  <li>Hadith</li>
  <li>Fiqh</li>
  <li>History</li>
  <li>Aqeedah</li>
</ul>

<img id="madrashah-img" src="/images/madrasah.jpg" alt=""/>

