<h2 class="title" xmlns="http://www.w3.org/1999/html">services</h2>

<p>Leytonstone Masjid has provided services for the community for many years.
  The activities which take place within the Masjid include:</p>

<ul>
  <li>Daily Prayers (Salaah)</li>
  <li>Jummah bayan/khutbah and Salaah</li>
  <li>Eid Salaah</li>
  <li>Regular lectures in English and Urdu</li>
  <li>Childrens Madrasah (Boys and Girls)</li>
  <li>Adults classes (Brothers and Sisters)</li>
  <li>Funeral services (Ghusl)</li>
  <li>Conducting Nikaahs</li>
</ul>

