<h2 class="title" xmlns="http://www.w3.org/1999/html">services</h2>

<p>Leytonstone Masjid has provided services for the community for many years.
  The activities which take place within the Masjid include:</p>

<ul>
  <li>Daily Prayers (Salaah)</li>
  <li>Jummah bayan/khutbah and Salaah</li>
  <li>Eid Salaah</li>
  <li>Regular lectures in English and Urdu</li>
  <li>Childrens Madrasah (Boys and Girls)</li>
  <li>Adults classes (Brothers and Sisters)</li>
  <li>Funeral services (Ghusl)</li>
  <li>Conducting Nikaahs</li>
</ul>


<h2 class="title" xmlns="http://www.w3.org/1999/html">adult classes</h2>

<p>The Prophet SAW said in a hadith:
  <em>”If Allah Ta’ala wants good for a person, He grants that person an understanding of Islam” (Bukhari)</em>.
  Knowledge is the lifeline of Islam. Nobody is too old to gain knowledge, even the great scholars of this ummah
  would continue seeking knowledge until they breathed their last. Hence the proverb mentions:
  <em>”Attain knowledge from the cradle to the grave”</em>.

  To cater for this need, Alhamdulillah many classes are held at Leytonstone Masjid for both brothers and
  sisters on a regular basis. Classes have been held on the following topics:</p>

 <ul>
   <li>Arabic (Beginner’s Book in understanding the Arabic language)</li>
   <li>Preparation for Ramadhan</li>
   <li>Tajweed (Pronunciation of Arabic letters)</li>
   <li>Preparation for Hajj</li>
   <li>Zakaat</li>
   <li>Fasting</li>
   <li>Salaah</li>
 </ul>